main{
    margin-top: 5%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.main {
    margin-top: 20%;
}

@media screen and (max-width: 500px) {
    main{
        top: 50%;
        font-size: 14px;
    }
    .main {
        margin-top: 20%;
    }
}