{% extends 'header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
АРС - строим будущее
{% endblock %}


{% block content %}

<div class="web_container">
    <div class="data">
        <h1>СТРОИМ НАДЁЖНЫЕ ДОМА, В КОТОРЫХ ХОЧЕТСЯ ЖИТЬ</h1>
        <div class="form">
            <p>Хотите обсудить проект? Оставьте свои данные и мы перезвоним</p>
            <form method="POST">
                {% csrf_token %}
                <input type="text" class="call_me" placeholder="Ваше имя">
                <input type="text" class="call_me" placeholder="Телефон">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <img src="{% static 'png/foto1.png' %}" class="foto1">
</div>

<div class="mobile_container">
    <img src="{% static 'png/foto1.png' %}" class="mobile_foto1">

    <div class="mobile_data">
        <h1>СТРОИМ НАДЁЖНЫЕ ДОМА, В КОТОРЫХ ХОЧЕТСЯ ЖИТЬ</h1>
        <div class="mobile_form">
            <p>Хотите обсудить проект? Оставьте свои данные и мы перезвоним</p>
            <form method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Телефон">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>

<div class="web_info" id="info">
    <div class="about">
        <h1>О нас</h1>
        <p>Компания ООО «АРС» с 2004 года занимается общестроительными работами на территории РФ, основным направлением деятельности является общестроительные работы по возведению монолитно-кирпичных, кирпичных зданий и сооружений.        </p>

        <p>Компания имеет мобильный, квалифицированный штат ИТР осуществляющий полный контроль производства работ с ведением всей исполнительной документации, в штате компании достаточное количество квалифицированных специалистов с огромным опытом работы.        </p>

        <p>Рабочий процесс строительства организован вахтовым методом безпраздничных и выходных дней.        </p>

        <p>Все работы выполняются строго в соответствии с утвержденным графиком производства работ.        </p>

        <p>Деятельность нашей компании отличается компетентный и деловой подход к реализации проектов, основанный на опыте и профессионализме сотрудников.        </p>

    </div>

    <div class="director">
        <p class="director_title">Генеральный директор</p>
        <img src="{% static 'png/director.png' %}" class="mobile_foto1">
        <p class="director_name">Имя Фамилия Отчество</p>
        <p class="about_director">Руководитель компании имеет многолетний опыт работы в сфере строительства жилых и промышленных зданий и сооружений. На данный момент является генеральным директором комнапии ООО «АРС».</p>
    </div>
</div>

<div class="mobile_info" id="mobile_info">
    <div class="mobile_about">
        <h1>О нас</h1>
        <p>Компания ООО «АРС» с 2004 года занимается общестроительными работами на территории РФ, основным направлением деятельности является общестроительные работы по возведению монолитно-кирпичных, кирпичных зданий и сооружений.        </p>

        <p>Компания имеет мобильный, квалифицированный штат ИТР осуществляющий полный контроль производства работ с ведением всей исполнительной документации, в штате компании достаточное количество квалифицированных специалистов с огромным опытом работы.        </p>

        <p>Рабочий процесс строительства организован вахтовым методом безпраздничных и выходных дней.        </p>

        <p>Все работы выполняются строго в соответствии с утвержденным графиком производства работ.        </p>

        <p>Деятельность нашей компании отличается компетентный и деловой подход к реализации проектов, основанный на опыте и профессионализме сотрудников.        </p>
    </div>

    <div class="mobile_director">
        <p class="mobile_director_title">Генеральный директор</p>
        <img src="{% static 'png/director.png' %}" class="mobile_foto1">
        <p class="mobile_director_name">Имя Фамилия Отчество</p>
        <p class="mobile_about_director">Руководитель компании имеет многолетний опыт работы в сфере строительства жилых и промышленных зданий и сооружений. На данный момент является генеральным директором комнапии ООО «АРС».</p>
    </div>
</div>


{% endblock %}