{% extends 'header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}

{% block title %}
АРС - строим будущее
{% endblock %}


{% block content %}

<div class="web_container">
    <div class="data">
        <h1>СТРОИМ НАДЁЖНЫЕ ДОМА, В КОТОРЫХ ХОЧЕТСЯ ЖИТЬ</h1>
        <div class="form">
            <p>Хотите обсудить проект? Оставьте свои данные и мы перезвоним</p>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Ваше имя">
                <input type="text" name="number" placeholder="Телефон">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <img src="{% static 'png/foto1.png' %}" class="foto1">
</div>

<div class="mobile_container">
    <img src="{% static 'png/foto1.png' %}" class="mobile_foto1">

    <div class="mobile_data">
        <h1>СТРОИМ НАДЁЖНЫЕ ДОМА, В КОТОРЫХ ХОЧЕТСЯ ЖИТЬ</h1>
        <div class="mobile_form">
            <p>Хотите обсудить проект? Оставьте свои данные и мы перезвоним</p>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Ваше имя">
                <input type="text" name="number" placeholder="Телефон">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>

<div class="web_info" id="info">
    <div class="about">
        <h1>О нас</h1>
        <p>Компания ООО «АРС» с 2004 года занимается общестроительными работами на территории РФ, основным направлением деятельности является общестроительные работы по возведению монолитно-кирпичных, кирпичных зданий и сооружений.        </p>

        <p>Компания имеет мобильный, квалифицированный штат ИТР осуществляющий полный контроль производства работ с ведением всей исполнительной документации, в штате компании достаточное количество квалифицированных специалистов с огромным опытом работы.        </p>

        <p>Рабочий процесс строительства организован вахтовым методом безпраздничных и выходных дней.        </p>

        <p>Все работы выполняются строго в соответствии с утвержденным графиком производства работ.        </p>

        <p>Деятельность нашей компании отличается компетентный и деловой подход к реализации проектов, основанный на опыте и профессионализме сотрудников.        </p>

    </div>

    <div class="director">
        <p class="director_title">Генеральный директор</p>
        <img src="{% static 'png/director.png' %}" class="mobile_foto1">
        <p class="director_name">Алиахмедов Кадырбек Алиахмедович</p>
        <p class="about_director">Руководитель компании имеет многолетний опыт работы в сфере строительства жилых и промышленных зданий и сооружений. На данный момент является генеральным директором комнапии ООО «АРС».</p>
    </div>
</div>

<div class="mobile_info" id="mobile_info">
    <div class="mobile_about">
        <h1>О нас</h1>
        <p>Компания ООО «АРС» с 2004 года занимается общестроительными работами на территории РФ, основным направлением деятельности является общестроительные работы по возведению монолитно-кирпичных, кирпичных зданий и сооружений.        </p>

        <p>Компания имеет мобильный, квалифицированный штат ИТР осуществляющий полный контроль производства работ с ведением всей исполнительной документации, в штате компании достаточное количество квалифицированных специалистов с огромным опытом работы.        </p>

        <p>Рабочий процесс строительства организован вахтовым методом безпраздничных и выходных дней.        </p>

        <p>Все работы выполняются строго в соответствии с утвержденным графиком производства работ.        </p>

        <p>Деятельность нашей компании отличается компетентный и деловой подход к реализации проектов, основанный на опыте и профессионализме сотрудников.        </p>
    </div>

    <div class="mobile_director">
        <p class="mobile_director_title">Генеральный директор</p>
        <img src="{% static 'png/director.png' %}" class="mobile_foto1">
        <p class="mobile_director_name">Алиахмедов Кадырбек Алиахмедович</p>
        <p class="mobile_about_director">Руководитель компании имеет многолетний опыт работы в сфере строительства жилых и промышленных зданий и сооружений. На данный момент является генеральным директором комнапии ООО «АРС».</p>
    </div>
</div>


<div class="web_projects" id="projects">
    <div class="projects_title">
        <h1>Реализованные проекты</h1>
        <p>Многолетние результаты нашей работы, наша гордость</p>
    </div>

    <div class="projects" id="web_projects_items">
        {% for i in web_objects %}
            <div class="project">
                <img src="{% static i.images.all.0 %}" class="project_img">
                <div class="project_data">
                    <div class="project_info" style="float: left;">
                        <p class="project_name"> {{ i.name }} </p>
                        <img src="{% static 'png/city.png' %}" class="city_png"><p class="project_city">{{ i.city }}</p>
                        <img src="{% static 'png/floors.png' %}"class="floor_png"><p class="project_floor">{{ i.floor }}</p>
                    </div>
                    <div style="float: right; font-family: Inter, sans-serif; margin-top: 20px;">
                        <a href="{% url 'project' i.id %}" class="project_page">перейти к объекту</a><img src="{% static 'png/strelka.png' %}">
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div>

    <button id="web_more">Показать ещё</button>
</div>


<div class="mobile_projects" id="mobile_projects">
    <div class="mobile_projects_title">
        <h1>Реализованные проекты</h1>
        <p>Многолетние результаты нашей работы, наша гордость</p>
    </div>

    <div class="mobile_projects_items" id="mobile_projects_items">
        {% for i in mobile_objects %}
            <div class="mobile_project">
                <img src="{% static i.images.all.0 %}" class="mobile_project_img">
                <div class="mobile_project_data">
                    <div class="mobile_project_info" style="float: left;">
                        <p class="mobile_project_name"> {{ i.name }} </p>
                        <img src="{% static 'png/city.png' %}" class="mobile_city_png"><p class="mobile_project_city">{{ i.city }}</p>
                        <img src="{% static 'png/floors.png' %}"class="mobile_floor_png"><p class="mobile_project_floor">{{ i.floor }}</p>
                    </div>
                    <div style="float: right; font-family: Inter, sans-serif; margin-top: 20px;">
                        <a href="{% url 'project' i.id %}" class="mobile_project_page">перейти к объекту</a><img src="{% static 'png/strelka.png' %}" class="mobile_st">
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

    <button id="mobile_more">Показать ещё</button>
</div>



<div class="web_arenda" id="arenda">
    <div class="arenda_title">
        <h1>Аренда опалубки</h1>
        <p>Компания АРС предлагает услуги аренды опалубки</p>
    </div>
    <h1>Опалубка для перекрытий</h1>

    <div class="arenda1">
        <div class="item">
            <img src="{% static 'png/opalubka1.png' %}">
            <p>Телескопические стойки (max длина 4.2 м)</p>
        </div>

        <div class="item">
            <img src="{% static 'png/opalubka2.png' %}">
            <p>Треноги</p>
        </div>

        <div class="item">
            <img src="{% static 'png/opalubka3.png' %}">
            <p>Унивилки</p>
        </div>
    </div>

    <div class="arenda2">
        <div class="item">
            <img src="{% static 'png/opalubka4.png' %}">
            <p>Ригеля</p>
        </div>

        <div class="item">
            <img src="{% static 'png/opalubka5.png' %}">
            <p>Ламинированная фанера (1220x2440)</p>
        </div>
    </div>

    <h1 style="margin-top: 30px;">Опалубка стеновая</h1>
    <p style="margin-top: -10px; font-weight: 300;">Размеры от 20мм до 120мм, высотой 3000мм</p>

    <div class="arenda1">
        <div class="item">
            <img src="{% static 'png/opalubka6.png' %}">
            <p>Щиты линейные</p>
        </div>

        <div class="item">
            <img src="{% static 'png/opalubka7.png' %}">
            <p>Щиты угловые</p>
        </div>

        <div class="item">
            <img src="{% static 'png/opalubka8.png' %}">
            <p>Щиты угловые шарнирные</p>
        </div>
    </div>

    <div class="arenda2">
        <div class="item">
            <img src="{% static 'png/opalubka9.png' %}">
            <p>Щиты угловые распалубочные</p>
        </div>

        <div class="item">
            <img src="{% static 'png/opalubka10.png' %}">
            <p>Угловой элемент опалубки</p>
        </div>
    </div>

    <p style="margin-bottom: 30px;">На сайте предоставлена не вся имеющаяся у нас опалубка, для уточнения информации
    позвоните нам или оставьте свои данные</p>
</div>



<div class="mobile_arenda" id="mobile_arenda">
    <div class="mobile_arenda_title">
        <h1>Аренда опалубки</h1>
        <p>Компания АРС предлагает услуги аренды опалубки</p>
    </div>
    <h1 class="opalubka">Опалубка для перекрытий</h1>

    <div class="mobile_arenda1">
        <div class="mobile_item">
            <img src="{% static 'png/opalubka1.png' %}">
            <p>Телескопические стойки (max длина 4.2 м)</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka2.png' %}">
            <p>Треноги</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka3.png' %}">
            <p>Унивилки</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka4.png' %}">
            <p>Ригеля</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka5.png' %}">
            <p>Ламинированная фанера (1220x2440)</p>
        </div>
    </div>

    <h1 style="margin-top: 30px;" class="opalubka">Опалубка стеновая</h1>
    <p style="margin-top: -10px; font-weight: 300;">Размеры от 20мм до 120мм, высотой 3000мм</p>

    <div class="mobile_arenda1">
        <div class="mobile_item">
            <img src="{% static 'png/opalubka6.png' %}">
            <p>Щиты линейные</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka7.png' %}">
            <p>Щиты угловые</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka8.png' %}">
            <p>Щиты угловые шарнирные</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka9.png' %}">
            <p>Щиты угловые распалубочные</p>
        </div>

        <div class="mobile_item">
            <img src="{% static 'png/opalubka10.png' %}">
            <p>Угловой элемент опалубки</p>
        </div>
    </div>

    <p style="margin-bottom: 30px;">На сайте предоставлена не вся имеющаяся у нас опалубка, для уточнения информации
    позвоните нам или оставьте свои данные</p>
</div>



<div class="web_container2">
    <img src="{% static 'png/foto2.png' %}" class="foto2">

    <div class="data2">
            <h1>Построим дом вашей мечты вместе?</h1>
            <p>Оставьте свои контактные данные, чтобы мы связались с вами и ответили на все интересующие вас вопросы</p>
            <div class="form2">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Ваше имя">
                    <input type="text" name="number" placeholder="Телефон">
                    <button type="submit">Отправить</button>
                </form>
            </div>
    </div>
</div>


<div class="mobile_container2">
    <div class="mobile_data2">
        <img src="{% static 'png/foto2.png' %}" class="mobile_foto2">
        <h1>Построим дом вашей мечты вместе?</h1>
        <p>Оставьте свои контактные данные, чтобы мы связались с вами и ответили на все интересующие вас вопросы</p>
    </div>

    <div class="mobile_form2">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Ваше имя"><br>
            <input type="text" name="number" placeholder="Телефон"><br>
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>




<div class="web_bottom">
    <div class="bottom_data1">
        <img src="{% static 'png/logo.png' %}" class="logo_bottom">
        <p>© 2004-2023 ООО «АРС»</p>
        <p>Все права защищены</p>
    </div>

    <div class="bottom_data2">
        <p>Наш офис в Ярославле</p>
        <p style="color: black;">ул. Свердлова, д.74б, кб.38</p>
    </div>

    <div class="bottom_data3">
        <p>Свяжитесь с нами</p>
        <a href="tel:+79807766659" class="number_bottom">+7 (980) 776 66 59</a><br>
        <a href="mailto:stroy-ars76@mail.ru" class="email_bottom">stroy-ars76@mail.ru</a>
    </div>

</div>

{% endblock %}
