{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/objects.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body  class="background-image" style="background: url({% static 'png/image.png' %})" >
<div class="header">
  <a href="{% url 'home' %}" class="logo"><img src="{% static 'png/log.png' %}"></a>
    <div class="header-right">
      <a class="active" href="{% url 'home' %}">Главная</a>
      <a href="{% url 'objects' %}">Наши работы</a>
      <a href="{% url 'contacts' %}">Контакты</a>
    </div>
</div>

<main>
<div>
    {% block content %}
    {% endblock %}
</div>
</main>

</body>
</html>