{% extends 'ars/header.html' %}


{% block title %}
ARS
{% endblock %}

{% block content %}
<div class="main">
    <h1>АРС — ОДНА ИЗ ВЕДУЩИХ СТРОИТЕЛЬНЫХ КОМПАНИЙ РОССИИ</h1>
    <p>За годы работы нашими специалистами построены сотни тысяч квадратных метров площадей различного назначения.
    Портфель компании составляют объекты жилой, коммерческой недвижимости, а также объекты социального и культурного назначения.
    Благодаря высокому профессиональному уровню управления строительством, применению современных строительных решений,
    новейших производственных технологий, а также использованию первоклассного штата сотрудников, возведение объектов выполняется
    в запланированные сроки при оптимальной стоимости строительства.</p>
</div>

{% endblock %}