{% extends 'ars/header.html' %}


{% block title %}
ARS
{% endblock %}

{% block content %}
{% load static %}
<h1>НАШИ РАБОТЫ</h1><br>
<div class="container">
    {% for object in objects %}
        <div class="object">
            <div class="img_object"><img src="{% static object.photo %}" class="img_data"></div>
            <p class="object_name">{{ object }}</p>
            <a href="{% url 'object' object.id_object %}" ><div class="more">Подробнее</div></a>
        </div>
    {% endfor %}
</div>
{% endblock %}