body {
    background-color: #F4F4F4;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    top: 0;
    left: 5%;
    position: absolute;
    background-color: white;
    border-radius: 0 0 15px 15px;
    height: 80px;
}

.logo {
    display: inline;
    margin-left: 20px;
}

.link {
    margin-left: 10%;
    display: inline;
    color: black;
    font-family: Inter, sans-serif;
    text-decoration: none;
}


